<div class="files-page">
  <mat-form-field appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput minlength="2" (keyup)="applyFilter($event.target['value'])" placeholder="Filter" #input>
  </mat-form-field>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Tree node template for leaf nodes -->
    <mat-tree-node  class="main-node" *matTreeNodeDef="let node" matTreeNodePadding>
      <div class="main-files">{{node.name}}</div>
      <div class="main-files" *ngIf="node.files">
        <div>files: 
          <span *ngIf="!node.files?.length">[ ]</span>
        </div>
        <div #toolTip1 class="file-content" [matTooltip]="node.files" matTooltipPosition="below" [matTooltipDisabled]="isDisabled(toolTip1)" *ngFor="let file of node.files">
          {{file}}
        </div>
      </div>
    </mat-tree-node>
    <!-- Tree node template for expandable nodes -->
    <mat-tree-node class="main-node" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
      <div class="main-files" *ngIf="node.files">
        <div>files:
          <span *ngIf="!node.files?.length">[ ]</span>
        </div>
        <div #toolTip2 class="file-content" [matTooltip]="node.files" matTooltipPosition="below" [matTooltipDisabled]="isDisabled(toolTip2)" *ngFor="let file of node.files">
          {{file}}
        </div>
      </div>
    </mat-tree-node>
  </mat-tree>
  <div *ngIf="(loading$ | async)" class="loading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</div>
